/GQLDEMOTUT/.vs/*
/GQLDEMOTUT/GQLDEMOTUT/bin/*
/GQLDEMOTUT/GQLDEMOTUT/obj/*
/GQLDEMOTUT/UsersNationalityAndForecastService/obj/*
/GQLDEMOTUT/UsersNationalityAndForecastService/bin/*
~$Sure_Ahmed_Samir_GQL_Tut.pptx

