################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GQLDEMOTUT/.vs/
/GQLDEMOTUT/GQLDEMOTUT/obj
/GQLDEMOTUT/GQLDEMOTUT/bin
GQLDEMOTUT/.vs/GQLDEMOTUT/DesignTimeBuild/.dtbcache.v2
GQLDEMOTUT/.vs/GQLDEMOTUT/DesignTimeBuild/.dtbcache.v2
GQLDEMOTUT/.vs/ProjectEvaluation/gqldemotut.metadata.v2
GQLDEMOTUT/.vs/ProjectEvaluation/gqldemotut.projects.v2
